<!--
 arroba{
    ViewBag.Title = "Home Page";
    List<Business.Pagina> paginas = ViewBag.Paginas; //os dados são armazenados na var paginas
}
-->


<div class="jumbotron">
    <h1>Cadastrar Paginas</h1>
    <div>
        <a href="/paginas" class="btn btn-info">Ir para castro de Páginas</a>
    </div>
</div>